$primary-color: rgb(var(--primary-color-values));
$primary-feedback-color: rgb(var(--primary-feedback-color-values));
$secondary-color: rgb(var(--secondary-color-values));

$background-color: rgb(var(--background-color-values));
$header-background-color: rgb(var(--header-background-color-values));

$text-color-inverse: rgb(var(--text-color-inverse-values));
$text-color: rgb(var(--text-color-values));

$type-bug-color: rgb(var(--type-bug-color-values));
$type-dark-color: rgb(var(--type-dark-color-values));
$type-dragon-color: rgb(var(--type-dragon-color-values));
$type-electric-color: rgb(var(--type-electric-color-values));
$type-fairy-color: rgb(var(--type-fairy-color-values));
$type-fighting-color: rgb(var(--type-fighting-color-values));
$type-fire-color: rgb(var(--type-fire-color-values));
$type-flying-color: rgb(var(--type-flying-color-values));
$type-ghost-color: rgb(var(--type-ghost-color-values));
$type-grass-color: rgb(var(--type-grass-color-values));
$type-ground-color: rgb(var(--type-ground-color-values));
$type-ice-color: rgb(var(--type-ice-color-values));
$type-normal-color: rgb(var(--type-normal-color-values));
$type-poison-color: rgb(var(--type-poison-color-values));
$type-psychic-color: rgb(var(--type-psychic-color-values));
$type-rock-color: rgb(var(--type-rock-color-values));
$type-steel-color: rgb(var(--type-steel-color-values));
$type-water-color: rgb(var(--type-water-color-values));

$card-type-colorless-color: rgb(var(--card-type-colorless-color-values));
$card-type-darkness-color: rgb(var(--card-type-darkness-color-values));
$card-type-dragon-color: rgb(var(--card-type-dragon-color-values));
$card-type-fairy-color: rgb(var(--card-type-fairy-color-values));
$card-type-fighting-color: rgb(var(--card-type-fighting-color-values));
$card-type-fire-color: rgb(var(--card-type-fire-color-values));
$card-type-grass-color: rgb(var(--card-type-grass-color-values));
$card-type-lightning-color: rgb(var(--card-type-lightning-color-values));
$card-type-metal-color: rgb(var(--card-type-metal-color-values));
$card-type-psychic-color: rgb(var(--card-type-psychic-color-values));
$card-type-water-color: rgb(var(--card-type-water-color-values));